#nothing at the moment
/Essentials/userdata/*
/SignShop/db/*
/Towny/backup/*
/Towny/data/*
/towny/logs/*
/WorldGuard/worlds/*
/Multiverse-Core/debug.log
/Jobs/jobs.sqlite.db
AsyncWorldEdit.jar
AutoSaveWorld.jar
BanItem.jar
Essentials.jar
EssentialsChat.jar
EssentialsSpawn.jar
Jobs.jar
Multiverse-Core-2.4.jar
PermissionsEx-1.22.7.jar
prism-2.0.4.jar
Questioner.jar
SignShop.jar
Towny.jar
TownyChat.jar
Vault.jar
worldedit-bukkit-6.0.jar
WorldGuard.jar
.DS_Store
